@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #1e1e1e;
    --secondary-color: #fff;
    --fs-body: 16px;
    --fs-heading: 24px;
    --fs-primary: 18px;
}

*::after, *::before {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#root{
    height: 100vh;
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.ripple{
    background: blue;
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: .5;
}

.character{
    position: absolute;
    height: 200px;
    width: 70px;
    background: var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 2;
}

.character .center{
    height: 20px;
    width: 20px;
    background: red;
}

.character.walking{
    transition: 4s ease;
}

.character.running{
    transition: 2s ease;
}

.tree{
    background: red;
    height: 100px;
    width: 50px;
    position: absolute;
}