@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #1e1e1e;
    --secondary-color: #fff;
    --fs-body: 16px;
    --fs-heading: 24px;
    --fs-primary: 18px;
}

*::after, *::before {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#root{
    height: 100vh;
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.ripple{
    background: red;
    height: 20px;
    width: 20px;
    position: absolute;
}

.character{
    position: absolute;
    height: 200px;
    width: 70px;
    background: var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.char_1{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 50px;
    background: red;
    animation: charWalkAnimation 5s linear infinite;
}

.char_2{
    height: 100px;
    width: 50px;
    background: blue;
    left: 60%;
}

.end_pos{
    position: absolute;
    height: 20px;
    width: 20px;
    background: green;
    right: 0;
    top: 50px;
}

@keyframes charWalkAnimation{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
        right: 0;
    }
}